.new_password{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    transition: 0.5s ease-in-out;
}
.new_password input{
    margin-top: 10px;
    margin-bottom: 10px;
}
.new_otv_org{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    transition: 0.5s ease-in-out;
}
.new_otv_org input{
    margin-top: 10px;
    margin-bottom: 10px;
}
.dont_show {
    display: none;
}